<div class="row justify-content-center align-items-center mt-6">
	<div class="col-12 col-md-5 col-xl-6 mt-3 mb-4 mb-md-0 text-center">
		<img src="/../assets/img/team.png" class="rounded-circle circle-photo" alt="someimg">
	</div>
	<div class="col-12 col-md-7 col-xl-6 circle-text text-center text-md-left">
		<div class="row">
			<div class="col-12">
				<h2>Nasz zespół</h2>
			</div>
			<div class="col-12 circle-larg-p mt-3 mt-sm-0">
				<p class="lh-12 mx-auto">Nasz zespół to przede wszystkim certyfikowani terapeuci i szkoleniowcy, specjalizujący się z analizie zachowania. Uwielbiamy pracę z dziećmi i nieustannie poprawiamy nasze kwalifikacje oraz monitorujemy wspólnie nasze działania, aby móc zapewniać pomoc na najwyższym poziomie.</p>
			</div>
			<div class="col-12 mt-3 mt-md-0"><button type="button" class="btn-custom btn-empty">WIĘCEJ</button></div>
		</div>
	</div>
</div>