<div class="container navbar-wrap">
	<nav id="navbar" class="navbar navbar-expand-sm navbar-light">
		<a class="navbar-brand" [routerLink]="['/']" (click)="hideNavbar()">
			<img src="assets/img/logo.jpg" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
			<div id="nav-icon" data-toggle="collapse" data-target="#navbarSupportedContent" class="collapsed">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</button>
		<div class="navbar-collapse justify-content-end collapse" data-toggle="collapse" data-target="#navbarSupportedContent" id="navbarSupportedContent">
			<div class="pointer"></div>
			<div class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link nav-link1 nav-items-padding" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AUTYZM</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item nav-items-padding px-0" [routerLink]="['/autyzm']">Czym jest autyzm?</a>
						<a class="dropdown-item nav-items-padding px-0" [routerLink]="['/symptomy']">Symptomy</a>
						<a class="dropdown-item nav-items-padding px-0" [routerLink]="['/diagnoza']">Diagnoza</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link nav-items-padding" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">O NAS</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item nav-items-padding px-0" [routerLink]="['/misja']">Misja</a>
						<a class="dropdown-item nav-items-padding px-0" [routerLink]="['/zespol']">Zespół</a>
						<a class="dropdown-item nav-items-padding px-0" [routerLink]="['/centrum']">Centrum</a>
					</div>
				</li>
				<li class="nav-item dropdown">
						<a class="nav-link nav-items-padding" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OFERTA</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item nav-items-padding px-0" [routerLink]="['/podejscie']">Nasze podejście</a>
							<a class="dropdown-item nav-items-padding px-0" [routerLink]="['/wspolpraca']">Przebieg współpracy</a>
							<a class="dropdown-item nav-items-padding px-0" [routerLink]="['/cennik']">Cennik</a>
						</div>
					</li>
				<a class="nav-link nav-items-padding" [routerLink]="['/kontakt']">KONTAKT</a>
			</div>
		</div>
	</nav>
</div>
