@import '../../variables';
.main-photo {
	background: url("/../assets/img/contact.jpg") no-repeat center;
	background-size: cover;
	margin-bottom: 102px;
}
.intro-p {
	max-width: 500px;
}
.contact-detail {
	p { margin-bottom: 0; }
	p:first-child {
		font-size: .8rem;
		color: #9e9e9e;
		font-family: $sanspro-font;
	}
	p:nth-child(2) {
		font-size: 1.25rem;
		font-weight: 500;
	}
	p:nth-child(3) {
		color: #757575;
		font-family: $sanspro-font;
	}
}
.contact-icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 1.5rem;
}
.form-control {
	border: 1px solid #9e9e9e;
	padding: .95rem;
}
::placeholder {
  color: #bdbdbd;
  font-size: .9rem;
}
textarea {
	resize: none;
	height: 10rem!important;
}
.form-checkbox {
	position: relative;
}
.form-consent {
	font-weight: 600;
	color: #0075b3;
	cursor: pointer;
}
.checkbox-text {
  user-select: none;
}
.consent-show {
	font-size: 12px;
	position: absolute;
	margin: 0 auto;
	width: 98%;
	background-color: #0075b3;
	color: white;
	border-radius: 5px;
	padding: 10px;
	bottom: 2rem;
	left: 1%;
}
.map {
	margin-top: 3rem;
}
agm-map {
	width: 100%;
	max-width: 1200px;
	height: 310px;
}
.show-on-small {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
}
.details-address, .details-phone, .details-email {
	margin-bottom: 3rem;
}
@media (min-width: 1200px) {
	.form-column {
		padding-right: 4.5rem;
	}
}
@media (min-width: 768px) { 
	.show-on-small {
		display: none;
	}
}
@media (max-width: 991.95px) { 
	.show-on-large {
		display: none;
	}                 
	.form-column {
		order: 2;
		max-width: 90%;
	}
	.details-column {
		order: 1;
		max-width: 90%;
		text-align: center;
	}
	.details-phone {
		order: 2;
	}
	.details-address {
		order: 1;
	}
	.details-email {
		order: 3;
	}
	.intro-size {
		margin-bottom: 2.2rem;
	}
	.map {
		margin-top: 3.3rem;
	}
}
@media (max-width: 767.99px) { 
	.details-part {
		max-width: 180px;
	}
	.mt-8 {
		margin-top: 4rem;
	}
}
@media (max-width: 680px) {
	.consent-show {
		bottom: 3rem;
		font-size: 10px;
	}
}
@media (max-width: 650px) { 
	.details-part {
		max-width: 100%;
		flex: 100%;
	}
	.details-email {
		order: 2;
		margin-bottom: 2.8rem;
	}
	.details-phone {
		order: 1;
		margin-top: 2.8rem;
	}
	.details-address {
		order: 3;
	}
}
@media (max-width: 575.5px) { 
	.mb-28 { margin-bottom: 2rem; }
	.maxw-70-sm {
		max-width: 70%;
	}
	.form-column {
		width: 290px;
	}
	.details-part {
		max-width: 100%;
	}
	.details-column {
		width: 200px;
		text-align: center;
	}
	.intro-size {
		margin-bottom: 0;
	}
	.contact-icon {
		margin-top: 1rem;
		margin-bottom: .5rem;
	}
}
@media (max-width: 363px) { 
	.consent-show {
		bottom: 5rem;
	}
}