<div *ngIf="isContactPage; else elseBlock">
	<div class="main-photo mx-auto mb-5">
		<div class="container pt-4">
				<div class="breadcrumbs" aria-label="breadcrumb">
					<p class="mx-auto mb-0"><a [routerLink]="['/']">STRONA GŁÓWNA</a> / KONTAKT</p>
				</div>
			<p class="main-photo-title text-center">Skontaktuj się z nami!</p>
		</div>
	</div>
</div>
<ng-template #elseBlock>
	<div class="container">
		<div class="row mt-120">
			<div class="text-center mx-auto intro-size">
				<h2 class="h2-main mb-3 maxw-70-sm mx-auto">Skontaktuj się z nami!</h2>
			</div>
		</div>
	</div>
</ng-template>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-8 col-xl-9 form-column">
			<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
				<div class="form-row">
					<div class="form-group col-md-6 mb-2 mb-md-3">
						<input type="text" class="form-control" placeholder="Imię i nazwisko" 
						ngModel name="name" required minlength="2" #name="ngModel">
						<span class="help-block" *ngIf="!name.valid && name.touched">Imie powinno mieć minimum 2 znaki</span>
					</div>
					<div class="form-group col-md-6 mb-2 mb-md-3">
						<input type="tel" class="form-control" placeholder="Telefon" 
						ngModel name="phone">
					</div>
				</div>
				<div class="form-group mb-2 mb-md-3">
					<input type="email" class="form-control" placeholder="E-mail" 
					ngModel name="email" required email #email="ngModel">
					<span class="help-block" *ngIf="!email.valid && email.touched">Adres email nie jest prawidłowy</span>
				</div>
				<div class="form-group mb-2 mb-md-3">
					<textarea type="text" class="form-control" placeholder="Wiadomość" 
					ngModel name="message" required minlength="10" #message="ngModel"></textarea>
					<span class="help-block" *ngIf="!message.valid && message.touched">Wiadomość jest zbyt krótka</span>
				</div>
				<div class="form-group form-checkbox mb-2 mb-md-3">
					<mat-checkbox ngModel name="consent" required #consent="ngModel"></mat-checkbox>Zapoznałam/em się z <span class="form-consent" (click)="toggleConsent()">informacjami o administratorze i przetwarzaniu danych</span>
					
					<!-- <input type="checkbox" class="checkbox mx-1" 
					ngModel name="consent" required #consent="ngModel">
					<label class="checkbox-check checkbox-text mb-0">
						Zapoznałam/em się z <span class="form-consent" (click)="toggleConsent()">informacjami o administratorze i przetwarzaniu danych</span>
					</label> -->
					<div class="consent-show" *ngIf="show">
							Wyrażam zgodę na przetwarzanie danych osobowych
							zgodnie z ustawą o ochronie danych osobowych w związku z (np. wysłaniem zapytania przez
							formularz kontaktowy). Podanie danych jest dobrowolne, ale niezbędne do	przetworzenia  zapytania.Zostałem poinformowany, że przysługuje mi prawo dostępu do swoich danych, możliwości
							ich poprawiania, żądania zaprzestania ich przetwarzania. Administratorem danych jest
							Centrum Terapii Autyzmu Ja sam Joanna Śmieja (ul. Przerwy-Tetmajera 3, 51-153 Wrocław) NIP: 8942847060 REGON: 382301240.
					</div>
				</div>
				<button type="submit" class="btn-custom btn-blue w-100 mb-2"
				[disabled]="!contactForm.valid">WYŚLIJ</button>
				<div class="message-sent text-center" *ngIf="messageSent">
					<p class="success-alert mb-0">Wiadomość została wysłana!</p>
				</div>
			</form>
		</div>
		
		<div class="col-12 col-lg-4 col-xl-3 details-column mx-auto mt-lg-2 mb-3 mb-lg-0">
			<div class="row justify-content-center justify-content-sm-around pl-lg-4 pl-xl-0">
				<div class="details-part details-facebook col-12 col-sm-6 col-md-3 col-lg-12 px-0">
					<div class="row">
						<div class="col-12 col-lg-2 mb-2 mb-lg-auto pr-auto pr-lg-2">
							<img src="/../assets/img/icons/facebook.png" class="contact-icon float-lg-right fb-icon" alt="Icon" (click)="goToFB()">
						</div>
						<div class="col-12 col-lg-10 contact-detail pl-auto pl-lg-2">
							<p class="mb-1">FACEBOOK</p>
							<p class="mb-1 lh-12" (click)="goToFB()">Dołącz do nas!</p>
						</div>
					</div>
				</div>
				<div class="details-part details-phone col-12 col-sm-6 col-md-3 col-lg-12 px-0">
					<div class="row">
						<div class="col-12 col-lg-2 mb-2 mb-lg-auto pr-auto pr-lg-2">
							<img src="/../assets/img/icons/phone.png" class="contact-icon float-lg-right" alt="Icon">
						</div>
						<div class="col-12 col-lg-10 contact-detail pl-auto pl-lg-2">
							<p class="mb-1">TELEFON</p>
							<p class="mb-1 lh-12">+48 881 752 715<br>+48 881 752 724</p>
							<p class="lh-12">9:00 - 18:00<br>od poniedziałku do piątku</p>
						</div>
					</div>
				</div>
				<div class="details-part details-address col-12 col-sm-6 col-md-3 col-lg-12 px-0 ml-lg-0">
					<div class="row">
						<div class="col-12 col-lg-2 mb-2 mb-lg-auto pr-auto pr-lg-2">
							<img src="/../assets/img/icons/placeholder-map.png" class="contact-icon float-lg-right" alt="Icon">
						</div>
						<div class="col-12 col-lg-10 contact-detail pl-auto pl-lg-2">
							<p class="mb-1">ADRES</p>
							<p class="lh-12">ul. Przerwy-Tetmajera 3<br>51-153 Wrocław</p>
						</div>
					</div>					
				</div>
				<div class="details-part details-email col-12 col-sm-6 col-md-3 col-lg-12 px-0">
					<div class="row">
						<div class="col-12 col-lg-2 mb-2 mb-lg-auto pr-auto pr-lg-2">
							<img src="/../assets/img/icons/envelope.png" class="contact-icon float-lg-right" alt="Icon">
						</div>
						<div class="col-12 col-lg-10 contact-detail pl-auto pl-lg-2">
							<p class="mb-1">E-MAIL</p>
							<p>kontakt@ja-sam.pl</p>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
</div>

<div class="map">
	<agm-map [scrollwheel]="null" [zoom]="16" [latitude]="latitude" [longitude]="longitude">
		<agm-marker [latitude]="latitude" [longitude]="longitude">
			<agm-info-window>Ja sam! Centrum terapii Autyzmu</agm-info-window>
		</agm-marker>
	</agm-map>
</div>