@import '../../variables';
.main-photo {
	background: url("/../assets/img/contact.jpg") no-repeat center;
	background-size: cover;
}
.intro-p {
	max-width: 500px;
}
.contact-detail {
	p { margin-bottom: 0; }
	p:first-child {
		font-size: .8rem;
		color: #9e9e9e;
		font-family: $sanspro-font;
	}
	p:nth-child(2) {
		font-size: 1.25rem;
		font-weight: 500;
	}
	p:nth-child(3) {
		color: #757575;
		font-family: $sanspro-font;
	}
}
.contact-icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 1.5rem;
}
.fb-icon {
	cursor: pointer;
	border-radius: 3px;
}
.form-control {
	border: 1px solid #9e9e9e;
	padding: .95rem;
}
.help-block {
	padding-left: 1.25rem;
	font-size: 12px;
	color: #a94442;
}
::placeholder {
  color: #bdbdbd;
  font-size: .9rem;
}
textarea {
	resize: none;
	height: 10rem!important;
}
.form-checkbox {
	position: relative;
}
.form-consent {

	color: #0075b3;
	cursor: pointer;
}
.checkbox-text {
	user-select: none;
}
.consent-show {
	font-size: 12px;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	background-color: #0075b3;
	color: white;
	border-radius: 5px;
	padding: 10px;
	bottom: 2rem;
}
.map {
	margin-top: 3rem;
}
agm-map {
	width: 100%;
	max-width: 1200px;
	height: 310px;
}
.show-on-small {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
}
.details-facebook, .details-address, .details-phone, .details-email {
	margin-bottom: 1.25rem;
}
.ng-invalid:not(form):not(checkbox).ng-touched  {
  border-left: 5px solid #a94442;
}
.form-column {
	position: relative;
}
.message-sent {
	position: absolute;
	z-index: 10000;
	top: 30%;
	left: 25%;
	width: 50%;
	border-radius: 5px;
	background-color: green;
	color: white;
	p {
		padding: .5rem;
	}
}
@media (min-width: 1200px) {
	.form-column {
		padding-right: 4.5rem;
	}
}
@media (min-width: 992px) {
	.fb-icon {
		margin-top: 1.25rem;
	}
}
@media (min-width: 768px) { 
	.show-on-small {
		display: none;
	}
}
@media (max-width: 991.95px) { 
	.show-on-large {
		display: none;
	}                 
	.form-column {
		order: 2;
		max-width: 90%;
	}
	.details-column {
		order: 1;
		max-width: 90%;
		text-align: center;
	}
	.details-facebook {
		order: 1;
	}
	.details-phone {
		order: 3;
	}
	.details-address {
		order: 2;
	}
	.details-email {
		order: 4;
	}
	.intro-size {
		margin-bottom: 2.2rem;
	}
	.map {
		margin-top: 3.3rem;
	}
}
@media (min-width: 850px) and (max-width: 991.95px) {
	.details-facebook {
		margin-left: -20px;
	}
}
@media (min-width: 768px) and (max-width: 849.95px) {
	.details-facebook {
		margin-left: -15px;
	}
}
@media (max-width: 767.95px) { 
	.mt-8 {
		margin-top: 4rem;
	}
}
@media (max-width: 680px) {
	.consent-show {
		bottom: 3rem;
		font-size: 10px;
	}
	.checkbox-text {
		font-size: 12px;
	}
}
@media (max-width: 650px) { 
	.details-part {
		max-width: 100%;
		flex: 100%;
	}
	.details-facebook, .details-email {
		margin-bottom: 1.5rem;
	}
	.details-facebook {
		order: 1;
	}
	.details-email {
		order: 3;
	}
	.details-phone {
		order: 2;
	}
	.details-address {
		order: 4;
	}
}
@media (max-width: 575.5px) { 
	.mb-28 { margin-bottom: 2rem; }
	.maxw-70-sm {
		max-width: 70%;
	}
	.form-column {
		width: 290px;
	}
	.details-part {
		max-width: 100%;
	}
	.details-column {
		width: 200px;
		text-align: center;
	}
	.intro-size {
		margin-bottom: 0;
	}
	.contact-icon {
		margin-top: 1rem;
		margin-bottom: .5rem;
	}
}
@media (max-width: 363px) { 
	.consent-show {
		bottom: 5rem;
	}
}

.form-checkbox {
	user-select: none;
	font-size: 12px;
}
.mat-checkbox {
	border: none!important;
}
/deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background,
       .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background
{
	background-color: #0075b3 !important;
}
/deep/ .mat-ripple-element {
  background: none !important;
}
/deep/ .mat-checkbox-frame {
	border: 1px solid #9e9e9e !important;
}
/deep/ .mat-checkbox-layout {
	margin-bottom: .15rem !important;
	margin-right: .3rem !important;
}