<div class="main-photo mx-auto">
	<div class="container pt-3">
			<div class="breadcrumbs" aria-label="breadcrumb">
				<p class="mx-auto mb-0"><a [routerLink]="['/']">STRONA GŁÓWNA</a> / AUTYZM /	{{ autismPart.name }}</p>
			</div>
		<p class="main-photo-title text-center">{{ autismPart.title }}</p>
	</div>
</div>


<div class="container px-3">
	<div class="row">
		<div class="col-12">
			<p class="info-description">{{ autismPart.text }}</p>
		</div>
	</div>
	<div class="row info-navigation">
			<div class="col-6">
				<div *ngIf="autismPart.previousLink?.length > 0" class="previous-link float-left">
					<i class='fas fa-chevron-left pr-3 align-middle' style='font-size:24px'></i>
					<button *ngFor="let link of autismPart.previousLink" type="submit" class="btn-custom btn-empty mr-2"><a [routerLink]="['/', link]">{{ link.toUpperCase() }}</a></button>
				</div>
			</div>
			<div class="col-6">
				<div *ngIf="autismPart.nextLink?.length > 0" class=" col-6next-link float-right">
					<button *ngFor="let link of autismPart.nextLink" type="submit" class="btn-custom btn-empty ml-2"><a [routerLink]="['/', link]">{{ link.toUpperCase() }}</a></button>
					<i *ngIf="autismPart.nextLink != 'oferta'" class='fas fa-chevron-right pl-3 align-middle' style='font-size:24px'></i>
				</div>
			</div>
	</div>
</div>

<div class="miejsce"></div>