/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {	font-family: $nunito-font; }
.sans-pro { font-family: $sanspro-font; }
.h2-main { 
	font-size: 33px!important; 
	font-weight: 600!important;
}
.h2-second {
	font-size: 26px!important; 
	font-weight: 400!important;	
}
.img-fluid {width: 100%;}
.lh-12 { line-height: 1.2; }
.lh-13 { line-height: 1.3; }
.lh-15 { line-height: 1.5; }
.mt-100 { margin-top: 100px; }
.mt-120 { margin-top: 120px; }
.mt-72 { margin-top:  4rem; }
.hidden {
	display: none;
}
.white-text {
	color: white!important;
	a{
		color: white!important;
	}
}
.padx-2rem {
	padding-left: 2rem;
	padding-right: 2rem;
}
.padx-25rem {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.mb-28 {
	margin-bottom: 2.8rem;
}
.intro-size {
	max-width: 46rem;
	margin-bottom: 3.375rem;
	p {
		font-size: 1rem;
		font-family: $sanspro-font;
		color: gray;
	}
}

/* Buttons */
.btn-custom:focus, .btn-custom:active {
	outline: none;
}
.btn-custom {
	border: 2px solid;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
	width: 102px;
	height: 38px;
	border-radius: .6rem;
	background-color: Transparent;
	a {
		list-style: none;
	}
	a:hover { 
		text-decoration: none; 
	}
}
.btn-white {
	color: white;
	border-color: white;
	a, a:hover { color: white; }
}
.btn-empty {
	color: #0075b3; 
	border-color: #0075b3;
	a, a:hover { color: #0075b3; }
}
.btn-blue {
	color: white;
	background-color: #0075b3;
	border-color: #0075b3;
	a, a:hover { color: white; }
}
.btn-black {
	color: white;
	background-color: black;
	border-color: black;
	a, a:hover { color: white; }
}
/* Breadcrumbs */
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-size: 10px;
	a { 
		color: black;
		text-decoration: none; 
	}
	a:hover { 
		color:red; 
		text-decoration: none; 
	}
}
/* Subpages main photo */
.main-photo {
	padding: 0;
	background: url("/../assets/img/main-photo.png") no-repeat center;
	width: 100%;
	max-width: 1200px;
	height: 169px;
	background-size: cover;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	line-height: 1.1;
}
.pt-2375 { margin-top: 2.375rem; }
.main-photo-title {
	font-size: 2.375rem; 
	font-weight: 600;
}
@media (max-width: 991.95px) {
	.hide-below-lg {
		display: none!important;
	}
}
@media (min-width: 576px) {
	.show-on-small {
		display: none!important;
	}
}
@media (max-width: 992px) {
	.container { 
		max-width: 100%!important; 
		width: 100%!important; 
	}
	.intro-size {
		max-width: 30rem;
	}
}
@media (max-width: 575.95px) { 
	.mt-120 {
		margin-top: 5.5rem;
	}
	.hidden-on-small {
		display: none!important;
	}
}
/* Dummy */
.miejsce {height: 50px;}