<div class="welcome mx-auto">
	<div class="container">
		<div class="welcome-text px-0 px-sm-3">
			<h1>Centrum terapii autyzmu we Wrocławiu</h1>
			<p class="lh-13">Wspieramy dzieci z autyzmem w samodzielnym funkcjonowaniu poprzez terapię  behawioralną opartą na wzorcach amerykańskich. Stawiamy na samodzielność, komunikację i rodzinę.</p>
			<button type="button" class="btn-custom btn-white" [routerLink]="['/misja']">O NAS</button>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mt-100 mt-sm-70">
		<div class="text-center mx-auto intro-size">
			<h2 class="h2-main mb-3">Nasze podejście</h2>
			<p class="intro-p lh-12">Wierzymy, że nie ma nic ważniejszego w życiu człowieka niż możliwość komunikacji, zwłaszcza z najbliższymi. Poprzez terapię chcemy nie tylko podnosić jakość życia dziecka i opiekunów, ale i łączyć rodzinę.</p>
		</div>
	</div>
	<div class="row col4-part justify-content-center">
		<div class="col-12 col-sm-4 col-lg-3 px-0">
			<div class="text-center">
				<img src="/../assets/img/icons/heart.png" class="col4-icon" alt="Icon">
				<div class="col4-div">
					<h2 class="h2-second col4-h2 pb-0 mx-auto">Indywidualnie dostosowana terapia</h2>
				</div>
				<p class="col4-p lh-13 mx-sm-auto">Nasza terapia odbywa się według zasad opisanych w indywidualnym programie edukacyjno-terapeutycznym, opartym o wyniki diagnozy funkcjonalnej.</p>
			</div>
		</div>
		<div class="break-on-620"></div>
		<div class="col-12 col-sm-4 col-lg-3 px-0">
			<div class="text-center">
				<img src="/../assets/img/icons/hourglass.png" class="col4-icon mt-4 mt-sm-0" alt="Icon">
				<div class="col4-div">
					<h2 class="h2-second col4-h2 pb-0 mx-auto">Wczesna interwencja</h2>
				</div>
				<p class="col4-p lh-13 mx-sm-auto">Im wcześniej, tym lepiej. Rozpoczynamy pracę z dzieckiem już od 18. miesiąca życia, bo wiemy jak bardzo zwiększa to szanse na sukces w wieku dorosłym.</p>
			</div>
		</div>
		<div class="break-on-992"></div>
		<div class="col-12 col-sm-4 col-lg-3 px-0 mt-5 mt-lg-0">
			<div class="text-center">
				<img src="/../assets/img/icons/family.png" class="col4-icon mt-4 mt-sm-0" alt="Icon">
				<div class="col4-div">
					<h2 class="h2-second col4-h2 pb-0 mx-auto">Włączamy rodzinę</h2>
				</div>
				<p class="col4-p lh-13 mx-sm-auto">Włączanie rodziny w terapię jest warunkiem zapewniającym najlepsze rezultaty. Wspólnie ustalamy cele i wspieramy rodziców poprzez szkolenia.</p>
			</div>
		</div>
		<div class="break-on-620"></div>
		<div class="col-12 col-sm-4 col-lg-3 px-0 mt-0 mt-5 mt-lg-0">
			<div class="text-center mx-auto">
				<img src="/../assets/img/icons/flask.png" class="col4-icon mt-4 mt-sm-0" alt="Icon">
				<div class="col4-div">
					<h2 class="h2-second col4-h2 pb-0 mx-auto">Metody<br>oparte na dowodach</h2>
				</div>
				<p class="col4-p lh-13 mx-sm-auto">Stosujemy metody, których skuteczność poparta jest badaniami naukowymi w tym m.in. wzmacnianie, PECS oraz trening komunikacji funkcjonalnej.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<button type="button" class="btn-custom btn-blue" [routerLink]="['/podejscie']">WIĘCEJ</button>
		</div>
	</div>

<!-- 	<div class="row justify-content-center align-items-center mt-120">
		<div class="col-12 show-on-small text-center">
				<p class="circle-small-p">LOREM IPSUM</p>
				<h2>Posuere lorem Ipsum</h2>
		</div>
		<div class="col-12 col-sm-5 mt-3 mt-sm-0 center-small">
			<img src="/../assets/img/team.png" class="rounded-circle float-sm-right circle-photo" alt="someimg">
		</div>
		<div class="col-12 col-sm-7 circle-text pl-28">
			<div class="row">
				<div class="col-12 hidden-on-small">
					<p class="circle-small-p">LOREM IPSUM</p>
					<h2>Posuere lorem Ipsum</h2>
				</div>
				<div class="col-12 circle-larg-p mt-3 mt-sm-0">
					<p class="lh-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat.</p>
				</div>
				<div class="col-12 text-center text-sm-left">
					<button type="button" class="btn-custom btn-empty">WIĘCEJ</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center align-items-center mt-72 hidden-on-small">
		<div class="col-12 col-sm-7 circle-text text-right pr-28">
			<div class="row">
				<div class="col-12">
					<p class="circle-small-p">LOREM IPSUM</p>
					<h2>Posuere lorem Ipsum</h2>
				</div>
				<div class="col-12 circle-larg-p">
					<p class="lh-12 float-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec</p>
				</div>
				<div class="col-12">
					<button type="button" class="btn-custom btn-empty">WIĘCEJ</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-5">
			<img src="/../assets/img/place.png" class="rounded-circle float-left circle-photo" alt="someimg">
		</div>
	</div> -->
	<app-autism-part></app-autism-part>

</div>
<app-contact></app-contact>

<div class="miejsce"></div>