<div class="welcome mx-auto">
	<div class="container">
		<div class="welcome-text px-3">
			<h1>Posuere lorem Ipsum</h1>
			<p class="lh-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat</p>
			<button type="button" class="btn-custom btn-empty">O NAS</button>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mt-120">
		<div class="text-center mx-auto intro-size">
			<h2 class="mb-3">Posuere lorem Ipsum</h2>
			<p class="intro-p lh-12 px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis</p>
		</div>
	</div>
	<div class="row col4-part">
		<div class="col-12 col-sm-6 col-lg-3">
			<div class="text-center">
				<img src="/../assets/img/plane.png" class="col4-icon" alt="Icon">
				<h2 class="col4-h2">Posuere<br> lorem Ipsum</h2>
				<p class="intro-p lh-13">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<div class="text-center">
				<img src="/../assets/img/plane.png" class="col4-icon" alt="Icon">
				<h2 class="col4-h2">Posuere<br> lorem Ipsum</h2>
				<p class="intro-p lh-13">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<div class="text-center">
				<img src="/../assets/img/plane.png" class="col4-icon" alt="Icon">
				<h2 class="col4-h2">Posuere<br> lorem Ipsum</h2>
				<p class="intro-p lh-13">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis</p>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<div class="text-center">
				<img src="/../assets/img/plane.png" class="col4-icon" alt="Icon">
				<h2 class="col4-h2">Posuere<br> lorem Ipsum</h2>
				<p class="intro-p lh-13">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<button type="button" class="btn-custom btn-full">WIĘCEJ</button>
		</div>
	</div>
	<div class="row justify-content-center align-items-center mt-120">
		<div class="col-12 col-sm-5">
			<img src="/../assets/img/main-photo.jpeg" class="rounded-circle float-right circle-photo" alt="someimg">
		</div>
		<div class="col-12 col-sm-7 circle-text pl-28">
			<div class="row">
				<div class="col-12">
					<p class="circle-small-p">LOREM IPSUM</p>
					<h2>Posuere lorem Ipsum</h2>
				</div>
				<div class="col-12 circle-larg-p">
					<p class="lh-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec</p>
				</div>
				<div class="col-12">
					<button type="button" class="btn-custom btn-empty">WIĘCEJ</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center align-items-center mt-72">
		<div class="col-12 col-sm-7 circle-text text-right pr-28">
			<div class="row">
				<div class="col-12">
					<p class="circle-small-p">LOREM IPSUM</p>
					<h2>Posuere lorem Ipsum</h2>
				</div>
				<div class="col-12 circle-larg-p">
					<p class="lh-12 float-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec</p>
				</div>
				<div class="col-12">
					<button type="button" class="btn-custom btn-empty">WIĘCEJ</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-5">
			<img src="/../assets/img/main-photo.jpeg" class="rounded-circle float-left circle-photo" alt="someimg">
		</div>
	</div>
	<div class="row mt-120">
		<div class="text-center mx-auto intro-size">
			<h2 class="mb-3">Posuere lorem Ipsum</h2>
			<p class="intro-p lh-12 px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-4">
			<div class="row text-center col3-part">
				<div class="col-12">
					<img src="/../assets/img/main-photo.jpeg" class="images-3col" alt="Icon">
				</div>
				<div class="col-12">
					<h2 class="col4-h2">Posuere lorem Ipsum</h2>
					<p class="intro-p col3-p lh-13 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis</p>
					<div class="col text-center">
						<button type="button" class="btn-custom btn-full">WIĘCEJ</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="row text-center col3-part">
				<div class="col-12">
					<img src="/../assets/img/main-photo.jpeg" class="images-3col" alt="Icon">
				</div>
				<div class="col-12">
					<h2 class="col4-h2">Posuere lorem Ipsum</h2>
					<p class="intro-p col3-p lh-13 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis</p>
					<div class="col text-center">
						<button type="button" class="btn-custom btn-full">WIĘCEJ</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="row text-center col3-part">
				<div class="col-12">
					<img src="/../assets/img/main-photo.jpeg" class="images-3col" alt="Icon">
				</div>
				<div class="col-12">
					<h2 class="col4-h2">Posuere lorem Ipsum</h2>
					<p class="intro-p col3-p lh-13 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis</p>
					<div class="col text-center">
						<button type="button" class="btn-custom btn-full">WIĘCEJ</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-contact></app-contact>

<div class="miejsce"></div>