.hub-photo {
	background: url("/../assets/img/symptoms-bcg.jpg") no-repeat center;
	background-size: cover;
	margin-bottom: 2rem;
}
ngx-gallery /deep/ ngx-gallery-image .ngx-gallery-arrow {
	color: #0075b3;
}