<div class="row">
	<div class="col-12 mt-120 mb-5">
		<div class="text-center mx-auto intro-size mb-0 mb-md-4">
			<h2 class="h2-main">Czym jest autyzm?</h2>
		</div>
	</div>
</div>
<div class="row hidden-on-md mx-auto mt-0 mt-md-5">
	<div class="col-12 mb-3">
		<div class="intro-size mb-3 mx-auto">
			<h2 class="h2-second text-center">Autyzm</h2>
		</div>
	</div>
</div>
<div class="row mx-auto mx-xl-4">
	<div class="col-12 col-lg-4 px-lg-1 px-xl-auto mb-5 mb-lg-auto">
		<div class="row col3-part justify-content-lg-center">
			<div class="col-12 col-md-6 col-lg-12 col3-img-div px-0">
				<img src="/../assets/img/autism.jpg" class="images-3col" alt="Icon">
				<div class="col3-circle-div hidden-below-md">
					<div class="col3-circle text-center">
						<img src="/../assets/img/icons/idea.png" class="col3-circle-bulb" alt="Icon">
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-12 col3-text-div px-lg-0">
				<div class="row text-center text-md-left text-lg-center mt-0 mt-md-1 mt-lg-0">
					<div class="col-12 hidden-below-md mx-auto">
						<h2 class="h2-second col3-h2 mb-3 mb-lg-4">Autyzm</h2>
					</div>
					<div class="col-12 mt-4 mt-md-auto mb-3 mb-md-0">
						<p class="col3-p lh-13 mx-auto mx-md-0 mx-lg-auto mt-2 mt-md-auto">Autyzm jest całościowym zaburzeniem rozwoju, a to znaczy że dotyczy wszystkich obszarów funkcjonowania człowieka. Rozpoczyna się we wczesnym dzieciństwie.</p>
					</div>
					<div class="col-12 mt-lg-3">				
						<div class="text-center text-md-left text-lg-center">
							<button type="button" class="btn-custom btn-blue" [routerLink]="['/autyzm']">CZYTAJ</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row hidden-on-md mx-auto mt-5">
		<div class="col-12 mb-3">
			<div class="intro-size mb-3">
				<h2 class="h2-second">Symptomy</h2>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 px-lg-1 px-xl-auto mb-5 mb-lg-auto">
		<div class="row col3-part justify-content-lg-center">
			<div class="col-12 col-md-6 col-lg-12 col3-img-div px-0">
				<img src="/../assets/img/symptoms.jpg" class="images-3col" alt="Icon">
				<div class="col3-circle-div hidden-below-md">
					<div class="col3-circle text-center">
						<img src="/../assets/img/icons/eye.png" class="col3-circle-eye" alt="Icon">
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-12 col3-text-div px-lg-0">
				<div class="row text-center text-md-left text-lg-center mt-0 mt-md-1 mt-lg-0">
					<div class="col-12 hidden-below-md mx-auto">
						<h2 class="h2-second col3-h2 mb-3 mb-lg-4">Symptomy</h2>
					</div>
					<div class="col-12 mt-4 mt-md-auto mb-3 mb-md-0">
						<p class="col3-p lh-13 mx-auto mx-md-0 mx-lg-auto mt-2 mt-md-auto">Symptomy mogą występować u każdej osoby z innym nasileniem, od ledwie zauważalnych, po trudności które uniemożliwiają samodzielne funkcjonowanie.</p>
					</div>
					<div class="col-12 mt-lg-3">				
						<div class="text-center text-md-left text-lg-center">
							<button type="button" class="btn-custom btn-blue" [routerLink]="['/symptomy']">CZYTAJ</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row hidden-on-md mx-auto mt-5">
		<div class="col-12 mb-3">
			<div class="text-center mx-auto intro-size mb-4">
				<h2 class="h2-second">Diagnoza</h2>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 px-lg-1 px-xl-auto mb-3">
		<div class="row col3-part justify-content-lg-center">
			<div class="col-12 col-md-6 col-lg-12 col3-img-div px-0">
				<img src="/../assets/img/diagnosis.jpg" class="images-3col" alt="Icon">
				<div class="col3-circle-div hidden-below-md">
					<div class="col3-circle text-center">
						<img src="/../assets/img/icons/magnifier.png" class="col3-circle-magnifier" alt="Icon">
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-12 col3-text-div px-lg-0">
				<div class="row text-center text-md-left text-lg-center mt-0 mt-md-1 mt-lg-0">
					<div class="col-12 hidden-below-md mx-auto">
						<h2 class="h2-second col3-h2 mb-3 mb-lg-4">Diagnoza</h2>
					</div>
					<div class="col-12 mt-4 mt-md-auto mb-3 mb-md-0">
						<p class="col3-p lh-13 mx-auto mx-md-0 mx-lg-auto mt-2 mt-md-auto">Wczesna diagnoza zaburzeń oznacza wczesne rozpoczęcie terapii. Pozwala to na osiągnięcie lepszych rezultatów i szybsze nauczenie dziecka jak funkcjonować w społeczeństwie.</p>
					</div>
					<div class="col-12 mt-lg-3">				
						<div class="text-center text-md-left text-lg-center">
							<button type="button" class="btn-custom btn-blue" [routerLink]="['/diagnoza']">CZYTAJ</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>