@import '../../../variables';
.images-3col {
	width: 300px;
	height: 200px;
}
.col3-circle-div {
	width: 100%;
	height: 75px;
}
.col3-circle {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: white;
	.col3-circle-bulb {
		margin-top: 19px;
		width: 56px;
		height: 56px;
	}
	.col3-circle-eye {
		margin-top: 18px;
		width: 64px;
		height: 64px;
	}
	.col3-circle-magnifier {
		margin-top: 22px;
		width: 56px;
		height: 56px;
	}
}
.h-875 {
	height: 8.875rem;
}
.col3-h2 {
	font-size: 1.5625rem;
}
.col3-p {
	color: gray;
}
@media (min-width: 992px) {
	.col3-img-div, .col3-text-div {
		width: 300px;
		max-width: 300px;
	}
	.col3-p {
		max-width: 15.5rem;
		min-height: 7.5rem;
	}
	.col3-circle {
		position: absolute;
		bottom: 0px;
		left: 33%;
	}
}
@media (min-width: 768px) and (max-width: 991.95px) {
	.col3-part {
		min-height: 195px;
	}
	.col3-circle-div {
		position: absolute;
		right: 0px;
		width: 50px;
		height: 100%;
		max-height: 195px;
		float: right;
	}
	.images-3col {
		position: absolute;
		right: 50px;
		float: right;
	}
	.col3-circle {
		position: absolute;
		right: 0px;
		bottom: 45px;
	}
	.text-div {
		min-height: 6rem;
	}
}
@media (min-width: 768px) {
	.hidden-on-md {
		display: none;
	}
}
@media (max-width: 767.95px) {
	.col3-img-div {
		text-align: center;
	}
	.col3-p {
		max-width: 15.5rem;
		min-height: auto;
	}
	.hidden-below-md {
		display: none;
	}
	.intro-size h2 {
		font-size: 25px;
	}
	.col3-h2 {
		margin-bottom: 2rem;
	}
}